/* Font */

@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Bold.eot'); /* IE9 Compat Modes */
  src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('fonts/Gotham-Bold.woff') format('woff'), /* Modern Browsers */
     url('fonts/Gotham-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('fonts/Gotham-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 700;
   font-style: normal;
 }

@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Medium.eot'); /* IE9 Compat Modes */
  src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('fonts/Gotham-Medium.woff') format('woff'), /* Modern Browsers */
     url('fonts/Gotham-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('fonts/Gotham-Medium.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 400;
   font-style: normal;
 }

@font-face {
  font-family: 'Gotham';
  src: url('fonts/Gotham-Thin.eot'); /* IE9 Compat Modes */
  src: url('fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
     url('fonts/Gotham-Thin.woff') format('woff'), /* Modern Browsers */
     url('fonts/Gotham-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
     url('fonts/Gotham-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
   font-weight: 300;
   font-style: normal;
 }

 // For normal
 .normal {
   font-weight: 400;
 }

 // For bold
 .bold,
 strong {
   font-weight: 700;
 }

 // For thin
 .light {
   font-weight: 300;
 }


/* Universal style */

hmtl {
  font-size: 16px;

}

 body {
    font-family: 'Gotham';
    margin: 0;
    padding: 0;
 }

 div {
   display: block;
 }

/* Header */

header {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content:space-between;
  height: 4rem;
  position: fixed;
  z-index: 10;
  width: 100%;
}

header ul li {
  display: inline;
  padding: 0 1.5rem;
}

header a{
  text-decoration: none;
  color: black;
}

header .logo {
  display: flex;
  align-items: center;
  height: 2rem;
  padding-left: 1.5rem;
}

/* Banner */

.banner {
  background-color: #d3d2d2;
  display: flex;
  padding-top: 4rem;

}

.banner img {
  margin: 2rem 1.5rem;
  width: 60%;

}

.banner .button {
  padding: 0.5rem 0;
  background-color:#414141;
  text-align: center;
  width: 95%;
}

.banner h1 {
  font-size: 4rem;
}

.banner h3 {
  font-size: 2rem;
}


.banner a {
  color:white;
  text-decoration: none;
}


.banner .image {
  top: 4rem;
}

.learn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Main */

.main {
  display: flex;
}

.main.info {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: 2rem 1.5rem;
}


.box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgrey;
}

.box img {
  height: auto;
  padding: 1rem;
  width: 35%;
}

.box.text {
  width: 65%;
}

.box p {
  padding: 0.5rem 0;
}

#more a {
  color:#4185de;
  text-decoration: none;
}

.box.guest {
  background-color: #d3d2d2;
}

.main.boxes {
  border-left: 1px solid lightgrey;
  padding: 1rem 0;
  flex:1;
  flex-direction: column;
  width: 40%;
}



.main.info p {
  padding-top: 1.5rem;
}

.main.info h1 {
  padding-top: 2rem;
}


/* Courses */

.learning {
  background-color: #e7e8e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.learning h1 {
  text-align: center;
  padding-top: 2rem;
}

.courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



.course {
  background-color: white;
  margin: 2rem;
  display: flex;
  flex-direction: column;
}

.course p {
  color:grey;
  padding: 0.5rem 0;
}

.course.text {
  padding: 1rem;
  font-size: 0.5rem;

}

/* Thesis */

.exhibit {
  display: flex;
  flex-direction: column;

}
.exhibit h1 {
  text-align: center;
  padding: 2rem 0;
}

.urban {
  width: 60%;
  margin: 1.5rem;
}

.content {
  display: flex;
}

.thesis.boxes {
  padding: 1.5rem 0;
  flex:1;
  flex-direction: column;
  width: 40%;
}

.box.fisma {
  background-color: #d3d2d2;
}

.box.now {
  border-bottom: hidden;
}

video {
    width: 100%;
}


/* Footer */

footer {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  color: grey;
  border-top: 1px solid lightgrey;
}

footer a {
  text-decoration: none;
  color: grey;
  padding: 1rem;
}
